# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/

# Django
staticfiles/
static/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Virtual environment
env/
*/env/
.venv/
*/.venv/

# Model files (pickle)
*.pkl
*.pickle
*.joblib

# Compiled files
*.so
